<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163832037678-hid26uj6tdq21557ukksge83l5btcfdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163832037678-hid26uj6tdq21557ukksge83l5btcfdi</string>
	<key>API_KEY</key>
	<string>AIzaSyB8mIKv2canb9DzIL_4gr69o7KEHG4sP-k</string>
	<key>GCM_SENDER_ID</key>
	<string>163832037678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emzee</string>
	<key>PROJECT_ID</key>
	<string>emzee-33423</string>
	<key>STORAGE_BUCKET</key>
	<string>emzee-33423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163832037678:ios:b5d53a5a0b477b7b7ffabf</string>
	<key>DATABASE_URL</key>
	<string>https://emzee-33423.firebaseio.com</string>
</dict>
</plist>